<style>
  .collection-with-slider {
    height: 396px;
    background_color: red;
  }
</style>
<section class="collection-with-slider"></section>

{% schema %}
{ "name": "collection-with-slider", "class": "shopify-section--colection-with-slider" }
{% endschema %}
